*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    font-size: 1rem;
}

body{
    background-color: rgb(44, 41, 255);
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Divide em 3 colunas iguais */ 
    grid-template-rows: repeat(5, 1fr); /* Divide em 3 linhas iguais */
    gap: 10px;
    height: 100dvh;
    align-items: center;
    justify-content: center;
    background-position: 100% -10px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 400ms;
}

.dialogo{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    grid-column: 3; 
    grid-row: 3;
    box-shadow: 0px 0px 10px black;
}

.dialogo>h3, h5{
    margin: 0.5rem 1rem;
    text-align: center;
}

.botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 1rem;
}

.botao{
    background-color:  rgb(18, 106, 199);
    color: white;
    font-size: 0.9rem;
    width: 3.2rem;
    height: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 200ms;
    user-select: none; /* Para os navegadores modernos */ 
    -webkit-user-select: none; /* Para o Safari */ 
    -moz-user-select: none; /* Para o Firefox */ 
    -ms-user-select: none; /* Para o Internet Explorer e Edge */
}

.botao:hover{
    transform: scale(1.1);
}